*{
  padding: 0;
  margin: 0;
}

.main{
  /* background: #F2F2F2; */
  background: #ebe3e3;
  padding: 50px;
}

.container{
  max-width: 1000px;
  margin: 0 auto;
}

.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cardContainer{
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* ==================================================================== */
.blockElem{
  background: #FFFFFF;
  padding: 20px;
}
.search{
  border: 1px solid #000;
  width: 400px;
  height: 55px;
  padding: 0 10px;
}
.search input{
  border: none;
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 20px;
}
.filter img,
.cheep img,
.search img,
.categori{
  cursor: pointer;
}
.filterPanel{
  padding: 5px;
  background: #FFFFFF;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}
.categori{
border: 2px solid #FF8F52;
padding: 5px;
border-radius: 7px;
}

/* ==================================================================== */
